.signup, .signin{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, #01ffff, #173479 );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.signup_container, .signin_container{
  width: 50%;
  color: whitesmoke;
}
.ant-menu-overflow {
  display: flex;
  justify-content: flex-end;
}
.ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover {
  background-color: #173479;
}
.ant-menu-horizontal > .ant-menu-item a:hover {
  color: rgb(23, 52, 121, 0.5);
}
.manager{
  width: 100vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.admin{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}
.edittask{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}
.edittask_container{
  width: 50%;
  color: whitesmoke;
}